{% extends "@starlette-admin/layout.html" %}
{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='admin/css/root.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='admin/css/btn.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='admin/css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='admin/css/form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='admin/css/sidebar.css') }}">
{% endblock %}

{% block navbar %}
    {% if current_user or i18n_config.language_switcher %}
        <header class="navbar navbar-expand-md navbar-light d-none d-lg-flex d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-menu"
                        aria-controls="navbar-menu"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-nav flex-row order-md-last">
                    {% if i18n_config.language_switcher %}
                        <div class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="icon icon-tabler icon-tabler-language"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     stroke-width="2"
                                     stroke="currentColor"
                                     fill="none"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M4 5h7"></path>
                                    <path d="M9 3v2c0 4.418 -2.239 8 -5 8"></path>
                                    <path d="M5 9c-.003 2.144 2.952 3.908 6.7 4"></path>
                                    <path d="M12 20l4 -9l4 9"></path>
                                    <path d="M19.1 18h-6.2"></path>
                                </svg>
                                {{ get_locale_display_name(get_locale()) }}
                            </button>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                {% for lang in i18n_config.language_switcher %}
                                    <a href="#"
                                       class="dropdown-item language-switcher-item"
                                       data-lang="{{ lang }}"
                                       data-cookie-name="{{ i18n_config.language_cookie_name }}">{{ get_locale_display_name(lang) }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    {% if current_user %}
                        <div class="nav-item">
                            {% include "components/theme_switcher.html" %}
                        </div>
                        <div class="nav-item dropdown ms-3">
                            <a href="#"
                               class="nav-link d-flex lh-1 text-reset p-0"
                               data-bs-toggle="dropdown"
                               aria-label="Open user menu">
                                        <span class="avatar avatar-sm"
                                                {% if current_user.photo_url %}
                                              style="background-image: url({{ current_user.photo_url }})"{% endif %}>
                                            {% if not current_user.photo_url %}
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="icon icon-tabler icon-tabler-user"
                                                     width="24"
                                                     height="24"
                                                     viewBox="0 0 24 24"
                                                     stroke-width="2"
                                                     stroke="currentColor"
                                                     fill="none"
                                                     stroke-linecap="round"
                                                     stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <circle cx="12" cy="7" r="4"></circle>
                                                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                                </svg>
                                            {% endif %}
                                        </span>
                                <div class="ps-2">
                                    <div>{{ current_user.username }}</div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <a href="{{ request.url_for(__name__ ~ ':logout') }}"
                                   class="dropdown-item">{{ _("Logout") }}</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                </div>
            </div>
        </header>
    {% endif %}
{% endblock %}
{% block head_meta %}
    <script src="https://api-maps.yandex.ru/v3/?apikey=9811b22a-e004-49b4-ac9a-4103a26f10ee&lang=en_US"></script>
{% endblock %}


