services:
  redis:
    image: redis:latest
    container_name: redis-service
    command: redis-server --bind 0.0.0.0 --appendonly yes
    ports:
      - "6379:6379"
    networks:
      - app-network
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build: .
    container_name: realtime-map-backend
    ports:
      - "8001:8001"
    volumes:
      - uploads_volume:/app/realtimemap/uploads
    command: ../.venv/bin/python run_main.py
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy

  migrations:
    build: .
    container_name: db-migrations
    command: ../.venv/bin/alembic upgrade head
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy
    restart: "no"

  celery:
    build: .
    container_name: celery-worker
    command: ../.venv/bin/celery --app core.celery.celery_app worker --loglevel INFO
    networks:
      - app-network
    depends_on:
      - redis
      - backend

  celery-beat:
    build: .
    container_name: celery-beat
    command: ../.venv/bin/celery --app core.celery.celery_app beat --loglevel INFO
    networks:
      - app-network
    depends_on:
      - redis
      - backend
      - celery

  celery-flower:
    build: .
    container_name: celery-flower
    command: ../.venv/bin/celery --app core.celery.celery_app flower
    ports:
      - "5555:5555"
    networks:
      - app-network
    depends_on:
      - redis
      - backend
      - celery

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16

volumes:
  uploads_volume:
  redis_data: